@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
:root {
  --btn-bg-color: #26ae60;
  --btn-color: #fff;
  --title-color: #2c3335;
  --info-color: #4d5254;
  --cards-color: #eaf0f1;
  --padding: 0.5rem 1rem;
  --fontweight-300: 300;
  --fontweight-400: 400;
  --fontweight-500: 500;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
body {
  font-family: Montserrat, 'Lucida Sans', sans-serif;
  font-size: 62.5%;
  background-color: white;
}
button#btn {
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  font-size: 14px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bolder;
  letter-spacing: 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
button#btn:hover {
  background-color: #197942;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.container {
  width: 80vw;
  max-width: 1300px;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}
.container .header {
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
  background-color: inherit;
  z-index: 1;
}
.container .header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--info-color);
}
.container .header .header--form {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container .header .header--form input[type='text'] {
  margin-bottom: 0.5rem;
  width: 30rem;
  height: 2rem;
  padding-left: 0.7rem;
  border-width: 0 0 3px 0;
  border-color: var(--btn-bg-color);
  color: black;
  font-size: 1rem;
}
.container .header .header--form input[type='text']::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: var(--info-color);
  font-family: Montserrat;
}
.container .header .header--form input[type='text']:-ms-input-placeholder {
  font-size: 1.2rem;
  color: var(--info-color);
  font-family: Montserrat;
}
.container .header .header--form input[type='text']::-ms-input-placeholder {
  font-size: 1.2rem;
  color: var(--info-color);
  font-family: Montserrat;
}
.container .header .header--form input[type='text']::placeholder {
  font-size: 1.2rem;
  color: var(--info-color);
  font-family: Montserrat;
}
.container .header .header--form button#btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 0.5rem;
}
.container .main {
  margin-top: 15rem;
  margin: 0 auto;
  height: 100vh;
}
.container .main .book--cards {
  margin-top: 15rem;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto) [3];
  grid-template-columns: repeat(3, auto);
  gap: 2.5rem;
}
.container .main .book--cards .book--card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto) [3];
  grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto) [3];
  grid-template-rows: repeat(3, auto);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(145, 135, 135, 0.75);
  box-shadow: 0px 1px 8px 0px rgba(145, 135, 135, 0.75);
  padding: 1.2rem;
  background-color: var(--cards-color);
  border-radius: 0.1rem;
  gap: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 25rem;
  max-height: 35rem;
}
.container .main .book--cards .book--card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.container .main .book--cards .book--card div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px;
}
.container .main .book--cards .book--card div ul span {
  font-weight: var(--fontweight-500);
  color: var(--info-color);
}
.container .main .book--cards .book--card div ul .btn {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.container .main .book--cards .book--card div .book--title,
.container .main .book--cards .book--card div .book--author {
  font-size: 0.9rem;
  font-weight: var(--fontweight-500);
}
.container .main .book--cards .book--card div p {
  font-size: 1.2rem;
  font-weight: var(--fontweight-400);
  font-family: 'sans-serif';
}
.container .main .book--cards .book--card img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 170px;
  height: 250px;
  margin-right: 5px;
}
.container .main .book--cards .book--card p:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  font-family: Montserrat;
  color: var(--info-color);
  font-size: 0.9rem;
  font-weight: var(--fontweight-400);
  overflow: hidden;
  height: 10rem;
}
